@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100;1,300&family=Roboto&display=swap');

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the entire page */
body {
    font-family: Poppins;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 36px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center


}

nav ul li {
    display: flex;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#my-image{
   width: 300px;
   height: 300px;
   margin-left: 900px;
   position: relative;
   bottom: 200px;
   border-radius: 50%;
}

/* Styling for sections */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for specific elements */
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover{
    color: red;
}
#skills{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color:gray;
    
}
.skills-image:hover{
    transform: translateX(0);
}


.skills-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}
/* .skills-image:hover{
    transform: scale(1.5);
} */
#about{
    background-color: #141111;
    color: white;
}

#about p{
    color: rgb(235, 152, 50);
    font-size: 20px;
}
#hobbies{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}
.hobbies-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.hobbies-image:hover{
    transform: scale(1.1);
}
#portfolio{
    background-color: gray;
    height: 700px;
}
#portfolio p{
    margin-top: 100px;
    font-size: 30px;
    margin-left: 50px;
}
#projects{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    background-color: #beb3b3;

}
#projects p{
    font-size: 30px;
}
.project-image{
    width: 400px;
    height: 300px;
}
#project-heading{
    margin-left: 80px;
    font-size: 30px;
}

